VPN_SALE_ENVIRONMENT=LOCAL
VPN_SALE_PUBLIC_APP_ORIGIN=http://localhost:3000
VPN_SALE_API_PUBLIC_ORIGIN=http://localhost:8000
VPN_SALE_SUBSCRIPTION_PUBLIC_ORIGIN=http://localhost:8000
VPN_SALE_BACKUP_DESTINATION_URL=file:///tmp/vpnsale-backups
